body {
    background-color: gray;
    margin: 3% 10% 0px 10%
}


#governorsflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#facility-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#facilityMineralsDocument {
    text-align: center;
    border: dashed black 1px;
    width: 70vw;
    justify-content: center;
    height: 200px;
    flex-wrap: wrap;
    
}

#cart-flex{
    display: flex;
    border: 2px dashed salmon;
    flex-direction: column;
    width: 25vw;
    align-items: center;
}

#purchase {
    margin-bottom: 10px;
    height: 50px;
}

#gov-section {
    margin: 50px 0;
}

#cartDisplay{
    margin: 0px 10px 10px 0px;
    text-align: center;
}